<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <%= image_tag 'Logo.png', alt: 'Logo', class: 'logo' %>
    </div>

    <div class="navbar-center">
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', root_path(anchor: 'about-section') %>
    </div>

  </div>
</header>
