.index-body {
  background-image: url("cloud.png");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center 30%;
  min-height: 100vh;
  background-color: #75b2e2;
}
.flight-img {
  /* background-color: red; */
  display: flex;
  justify-content: right;
  align-self: start;
}
.get-started-btn {
  display: inline-block;
  padding: 14px 32px;
  background-color: #75b2e2;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.2s;
  margin-top: 20px;
}
.get-started-btn:hover {
  background-color: #75b2e2;
  color: black;
}

.welcome-text-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 40%;
  height: 40%;
  align-self: flex-end;
  padding: 10px;
}
.inner-container {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: baseline;
}
